<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Anything You Want</h1>
    <br />
    <h2>We Want To Teach You</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <% @courses.each do |course| %>
	<div class="lesson col-xs-5 col-sm-5">
		<h3><%= link_to course.title, course_path(course) %></h3>
		<br />
		<h3><%= link_to course.description, course_path(course) %></h3>
		<br />
		<h3><%= link_to course.cost, course_path(course) %></h3>
	</div>
	<% end %>
</div>
<br />
